.nav-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
  background-color: var(--bg-secondary);
  padding: 0 var(--pad-lr);
  height: var(--nav-h);
  border-bottom: 1px solid var(--bg-tertiary);
  /* box-shadow: var(--shadow-black); */
}

.header-brand-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 0.6rem;
}

.header-brand-c img {
  width: 1rem;
}

.header-brand-c h1 {
  font-size: 1rem;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selectsearch-algo {
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  position: relative;
}

.selectsearch-algo__input {
  width: 100%;
  background-color: var(--bg-primary);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  transition: var(--trans-100);
  border: 1px solid var(--bg-tertiary);
}

.selectsearch-algo__input:focus {
  outline: none;
}

.selectsearch-algo__select {
  position: absolute;
  background-color: var(--bg-primary);
  width: 100%;
  border-radius: 5px;
  padding-bottom: 1rem;
  padding: 15px 20px 30px;
  transition: var(--trans-100);
  z-index: 10;
  margin-top: 10px;
  box-shadow: var(--shadow-black);
  border: 1px solid var(--bg-tertiary);
}

.selectsearch-algo__options {
  list-style: none;
  border: none;
  border-radius: 5px;
}

.selectsearch-algo__options button {
  border: none;
  width: 100%;
  text-align: start;
  background: none;
  padding: 5px 0 5px 10px;
  border-radius: 1px;
  transition: var(--trans-100);
}

.selectsearch-algo__option.is-selected {
  background: var(--text-secondary);
  color: var(--bg-primary);
}

.selectsearch-algo__option.is-highlighted,
.selectsearch-algo__option:not(.is-selected):hover {
  background: var(--border-color);
}

.selectsearch-algo__group-header {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 10px 0 5px 0;
  font-family: "Inter", sans-serif;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 5px;
}

.header-options {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.header-options svg {
  width: 1.2rem;
  stroke-width: 2px;
  stroke: var(--nav-svg-color);
  transition: var(--trans-100);
}

.header-options svg:hover {
  stroke: var(--brand-text-color);
}
