@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --nav-h: 50px;
  --pad-lr: 2rem;
  --pad-tb: 0.8rem;
}

.LightUI {
  --red: #da2f2d;
  --red-faded: #fde7e9;
  --green: #0fa523;
  --green-faded: #e7f6f3;
  --purple: #580597;
  --blue: #1e3df1;
  --blue-faded: #e3e8fe;
  --pink: #ff4a8b;
  --yellow: #fcc00b;
  --brand-text-color: #252535;
  --nav-svg-color: #d0d8dc;
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --bg-tertiary: #e8e8e8;
  --text-primary: #0f0f0f;
  --text-secondary: #333333;
  --border-color: rgba(0, 0, 0, 0.1);
  --trans-100: all 100ms ease-in;
  --shadow-black: 0px 3px 15px rgba(0, 0, 0, 0.06);
  --shadow-green: 0px 3px 10px rgba(0, 255, 0, 0.1);
}
