.top-bar-c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--pad-tb) var(--pad-tb);
  z-index: 3;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  z-index: 10;
}

.top-bar-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.top-nav-button {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  gap: 7px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 8px 30px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shoadow-1);
  border: 1px solid var(--text-primary);
  transition: all 100ms ease-out;
}

.top-nav-button svg {
  width: 20px;
  height: auto;
  transition: all 100ms ease-out;
  stroke-width: 3px;
  stroke: var(--text-primary);
}

.toggleStart {
  background-color: var(--green-faded);
  border: 1px solid var(--green);
  color: var(--green);
}

.toggleStart svg {
  stroke: var(--green);
}

.toggleStart:hover {
  background-color: var(--green);
  color: var(--text-primary);
}

.toggleStart:hover svg {
  stroke: var(--text-primary);
}

.toggleStop {
  background-color: var(--red);
}

.toggleStart #stopSvg,
.toggleStart #stopText {
  display: none;
}

.toggleStart #startSvg,
.toggleStart #startText {
  display: block;
}

.toggleStop #startSvg,
.toggleStop #startText {
  display: none;
}

.toggleStop #stopSvg,
.toggleStop #stopText {
  display: block;
}

.search-count-slider,
.search-speed-slider {
  width: 120px !important;
}
