.Container {
  border-top: var(--border-1);
  display: grid;
  grid-template-columns: auto auto auto;
}

.IconContainer {
  position: relative;
  padding: 1.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border-1);
  transition: all 200ms ease-out;
}
.IconContainer:nth-child(3) {
  border: none;
}

.IconContainer:hover {
  background-color: var(--bg-blue);
  cursor: pointer;
}

.IconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.IconContainer .IconContainer:hover .Icons {
  stroke: var(--blue);
}

.Icons {
  stroke: white;
  width: 1.4rem;
}

.LastIconContainer {
  border: none;
}
