body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--bg-scnd);
  display: grid;
  grid-template-columns: 23% auto;
}

.AppRight {
  position: relative;
}
