body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-secondary);
  min-height: 100vh;
}
.main-c {
  position: relative;
  height: 100%;
}
