@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000301;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .array-bar {
  background-color: #1b241b;
  border: 1.5px solid #1efe5b;
} */
/* 
.nav-category-links {
  height: 0px;
  visibility: hidden;
  padding-top: 0;
} */

.input-feild {
  background-color: transparent;
  position: relative;
  width: 60px;
  text-align: center;
}

.input-feild:focus {
  outline: none;
  border-color: red;
}

#algo-code-container pre {
  padding: 0rem !important;
  margin: 2rem 0 !important;
}

.nav-category-container:hover .nav-category-links {
  height: 100%;
  visibility: visible;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: all 150ms ease-in;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #000301;
}

*::-webkit-scrollbar-thumb {
  background-color: #222b23;
  outline: none;
}

*::-webkit-scrollbar-corner {
  background-color: #000301;
}

.array-data {
  padding-right: 0.6rem;
}

#algo-code-container pre,
#algo-code-container pre code {
  overflow-y: hidden;
}
