@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --pad-tb: 2rem;
  --pad-lr: 2rem;
  --sidenav-width: 280px;
  --top-nav-height: 100px;
  --brand-nav-height: 150px;
  --option-header-height: 70px;
  --visualizer-container-height: 75vh;

  /* Tower Of Hanoi */
  --tower-base-height: 10px;
  --toh-visualizer-height: 50vh;
}

.DarkUI {
  --blue: #28cef3;
  --green: #24f176;
  --orange: #fd9330;
  --pink: #fc57a1;
  --red: #fd777d;
  --purple: #c645fd;
  --grey: #444444;
  --blue-grey: #34333b;

  --bg-blue: rgba(40, 206, 243, 0.15);
  --bg-green: #052412;
  --bg-orange: rgba(253, 147, 48, 0.15);
  --bg-pink: rgba(198, 68, 253, 0.15);
  --bg-red: rgba(250, 96, 104, 0.15);
  --bg-purple: rgba(204, 108, 245, 0.15);

  --bg-blue-2: #274f5b;
  --bg-green-2: #294d39;
  --bg-orange-2: #5a3c22;
  --bg-pink-2: #5f3649;
  --bg-purple-2: #3e214a;
  --bg-red-2: rgba(250, 96, 104, 0.3);

  --bg-green-3: #30744f;

  --slider-rail: rgba(204, 108, 245, 0.6);

  --bg: #000;
  --visualizer-bg: #111;
  --border-color: #333333;
  --border-1: 1px solid var(--border-color);

  --text: #ffffff;
  --secndry-text: hsl(205, 8%, 53%);

  --toastify-color-progress-light: var(--green);
  --toastify-toast-background: var(--bg-green);
  --toastify-color-light: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

.activeBlue {
  color: var(--blue) !important;
}

.SortingArrayElement {
  background: var(--bg-blue-2);
  border: 1px solid var(--blue);
  transition: height 50ms ease-out;
}

.TowerDisc {
  background: var(--bg-blue-2);
  border: 1px solid var(--blue);
  margin-bottom: 1rem;
  max-height: 50px;
  z-index: 3;
  transition: width 50ms ease-out;
}

.main-container-algospace {
  display: grid;
  grid-template-columns: var(--sidenav-width) auto;
}

.Collapsible__trigger {
  font-weight: 800;
  color: var(--blue);
  font-size: 17px;
  line-height: 27px;
}

.Collapsible__trigger:hover {
  cursor: pointer;
}

.Collapsible__contentOuter {
  margin-top: 5px;
}

.Collapsible__contentInner a {
  color: var(--text);
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 5px;
}

.Collapsible__contentInner a:hover {
  cursor: pointer;
}

.Collapsible__contentInner {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.MuiSlider-rail {
  background-color: var(--slider-rail) !important;
}

.MuiSlider-track {
  background-color: var(--purple) !important;
}

.MuiSlider-thumb {
  background-color: var(--purple) !important;
}

.MuiTooltip-tooltip {
  border-radius: 3px;
  border: 1px solid var(--blue);
  background: var(--bg-blue-2);
  color: #fff;
  transition: all 150ms ease-out;
}

.showOptionDivs {
  display: block;
}

.hideOptionDivs {
  display: none;
}

.Toastify__toast {
  background-color: var(--bg-green) !important;
  backdrop-filter: blur(10px) !important;
  color: #fff !important;
}

.Toastify__close-button svg {
  stroke: var(--green);
  fill: var(--green) !important;
}

#arrayElementC {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}

.ArrayElementValueBox {
  width: 50px;
  height: 40px;
  background: var(--bg-blue-2);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ArrayElementValueBox :hover {
  cursor: pointer;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.2s ease;
}

.hover-1 {
  display: inline-flex;
  padding-bottom: 0px;
  overflow: hidden;
}

.hover-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transform: translateX(-110%);
}

.hover-1:hover:before {
  transform: translateX(0);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--visualizer-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

/* NPROGRESS */
#nprogress .bar {
  background: #274f5b !important;
  border: 1px solid #28cef3 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #28cef3, 0 0 5px #28cef3 !important;
}

#nprogress .spinner-icon {
  border-top-color: #28cef3 !important;
  border-left-color: #28cef3 !important;
}

.noselect {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
